127.0.0.1	localhost
::1	localhost ip6-localhost ip6-loopback
fe00::0	ip6-localnet
ff00::0	ip6-mcastprefix
ff02::1	ip6-allnodes
ff02::2	ip6-allrouters
192.168.32.2	4d5298b89cfe

10.0.42.168 transmission.chovelle.paasnoid.vpn
10.0.42.168 emby.chovelle.paasnoid.vpn
