
services: 
  nginx:
    image: nginx:alpine
    ports:
      - "{{ ip_host_listen }}:80:80"
    volumes:
      - ./conf.d:/etc/nginx/conf.d
      #- ./htpasswd:/etc/nginx/htpasswd
    networks:
      - {{ proxy_service_name }}