# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

#source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

allow-hotplug {{ dev_WAN }}
iface {{ dev_WAN }} inet manual
	ethernet-wol g

# Configure bridge and give it a static ip
auto {{ dev_BRIDGE_WAN }}
iface {{ dev_BRIDGE_WAN }} inet static
	address {{ ip_WAN }}
	netmask {{ mask_WAN }}
	network {{ net_WAN }}
    #broadcast 10.0.33.255
	gateway	{{ gw_WAN }}
	bridge_ports {{ dev_WAN }}
	bridge_stp off
	bridge_fd 0
	bridge_maxwait 0
	dns-nameservers {{ dns1 }}

{% if ap_enabled %}
allow-hotplug {{ dev_WLAN }}
iface {{ dev_WLAN }} inet manual
#	post-up /usr/sbin/hostapd -B /etc/hostapd/hostapd.conf -P /run/hostapd.pid
###	post-up service isc-dhcp-server restart
##	pre-down kill -9 `cat /run/hostapd.pid`
{% endif %}

{% if dev_LAN %}
auto {{ dev_BRIDGE_LAN }}
iface {{ dev_BRIDGE_LAN }} inet static
	bridge_ports {{ dev_LAN }}
	address {{ ip_BRIDGE }}
	netmask {{ mask_BRIDGE }}
	network {{ net_BRIDGE }}
#	post-up ifup {{ dev_WLAN }}
#	pre-down ifdown {{ dev_WLAN }}
{% endif %}